section {
    margin-top: 50px;
}

h1 {
    font-size: 48px;
}
        
h3 {
	font: 30px LouisBold, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
}
        
h4 {
	font: 20px LouisBold, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
    margin-bottom: 20px;
}

.biopic {
    margin: -40px auto 0 auto;
    display: block;
}
        
.riderbuttons .btn {
    display: block;
    margin: auto;
}
        
.riderbuttons .btn.btn-large {
    width: 90%;
    margin-top: 10px;
}

footer {
    height: 100px;
}

.logo img {
    height: 185px;
    width: 150px;
}

@media (max-width: 768px) {
    .biopic {
        margin: 0 auto;
        width: auto;
        display: block;
    }
    
    section h1, section h4 {
        text-align: center;
    }
    
}

@media (max-width: 480px) {
    section h1 {
        font-size: 36px;
    }
    section h4 {
        font-size: 14px;
    }

    .logo img {
        height: 370px;
        width: 300px;
    }

}
