section {
    margin-top: 50px;
}

h1 {
    font-size: 48px;
}
        
h3 {
	font: 30px LouisBold, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
}
        
h4 {
	font: 20px LouisBold, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
}

.biopic {
    margin: -40px auto 0 auto;
    width: 100%;
    display: block;
}
        
.riderbuttons .btn {
    display: block;
    margin: auto;
}
        
.riderbuttons .btn.btn-large {
    width: 90%;
    margin-top: 10px;
}

footer {
    height: 185px;
}
