section {
    margin-bottom: 50px;
}
		
    .bug {
	position: fixed;
	top: 10px;
	left: 10px;
	font-size: 24px;
	background-color: rgba(80,80,80,0.9);
	padding:20px;
	color: #ddd;
}

body {
	background: url(../img/noise.png);
}

img.centered {
    display: block;
    margin:auto;
}

.centered {
	text-align: center;
}

h1 {
	font: lighter 36px LouisBold, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	text-shadow: #E6BF00 1px 1px, #E6BF00 2px 2px;
}

h2 {
	font: lighter 24px LouisBold, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
}


.header {
	background: -webkit-linear-gradient(top, rgba(80, 80, 80, .35) 0%,rgba(125, 186, 232, 0) 100%);
	background:	   -moz-linear-gradient(top, rgba(80, 80, 80, .35) 0%,rgba(125, 186, 232, 0) 100%);
	background:		-ms-linear-gradient(top, rgba(80, 80, 80, .35) 0%,rgba(125, 186, 232, 0) 100%);
	background:		 -o-linear-gradient(top, rgba(80, 80, 80, .35) 0%,rgba(125, 186, 232, 0) 100%);
	background:			linear-gradient(top, rgba(80, 80, 80, .35) 0%,rgba(125, 186, 232, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#FFFFFF',GradientType=0 );
}

.logo img {
	display: block;
	margin: auto;
}

.logo h1 {
	font-size: 0px;
	color: transparent;
	margin-left: -10000px;
}

.hero h1 {
	font: 5.3em LouisBold, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: lighter;
	text-shadow: hsl(50, 100%, 45%) 1px 1px, hsl(50, 100%, 45%) 2px 2px, hsl(50, 100%, 45%) 3px 3px, hsl(50, 100%, 45%) 4px 4px;
	margin: 20px 0 0 0;
}
.hero h2 {
	font-family: RockwellRegular, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: lighter;
}
.hero h3 {
	font: 20px LouisBold, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
}

.hero h4 {
	font: 40px LouisBold, "Helvetica Neue", Helvetica, sans-serif;
}

.stats {
	font: 3em LouisBold, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
}
.stats span.stat_caption {
	display:block;
	font: .4em RockwellRegular, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: none;
}

ul.stats-tabs li {
	float: left;
	margin: 0 20px 0 0;
	padding: 0 20px 0 0;
	border-right: 1px solid #ccc;
	}
ul.stats-tabs li:last-child {
	margin: 0;
	padding: 0;
	border: none;
	}
ul.stats-tabs li {
	display: block;
	float: left;
	font: 24px LouisBold, "Helvetica Neue", Helvetica, sans-serif;
	}
ul.stats-tabs li span {
	display: block;
	margin-top: 2px;
	font: 13px RockwellRegular, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: lighter;

	}


.navbuttons {
	margin-top: 20px;
}

.navbuttons p {
	margin-left: 5%;
	margin-right: 5%;
}

.navbuttons .btn.btn-large {
	width: 43%;
	font-size: 20px;
	font-weight: normal;
}

.navbuttons .btn-donate {
    background-color: #bfa640;
    background-color: #ffab23;
    background-image: -webkit-linear-gradient(top, #fe6, #ffab23);
    background-image:     -moz-linear-gradient(top, #fe6, #ffab23);
    background-image:      -ms-linear-gradient(top, #fe6, #ffab23);
    background-image:       -o-linear-gradient(top, #fe6, #ffab23);
    background-image:          linear-gradient(top, #fe6, #ffab23);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe6', endColorstr='#ffab23', GradientType=0);
	border-color: #cbbd55 #c9a239 #ca8a21;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	font-weight: 600 !important;
}

hr.soften {
  height: 1px;
  margin: 54px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:	   -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:		-ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:		 -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:			linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}
.hero hr.soften {
	margin: 20px 0;
}

.rider {
    margin-top: 20px;
}

.ridercaption {
	text-align: center;
    color: #333;
    margin-top:10px;
}

.the-team img {
	display: block;
	margin: auto;
}

.sponsor_container {
    height: 100px;
    margin: auto;
}

#sponsor_stickermule {
    width: 307px; 
    background-image: url(../img/stickermule_bw.png);
}

#sponsor_tro {
    width: 172px; 
    background-image: url(../img/theroveroutpost_bw.png)
}

.sponsorimg {
    opacity: 0;
}

.sponsorimg:hover {
    -o-transition: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
}

footer {
	margin: 60px 30px 0 30px;
	padding: 25px 0 36px;
	border-top: 1px solid #E5E5E5;
}

@media (max-width: 480px) {
	.pull-right {
		float: none;
	}

	.hero hr.soften {
		margin: 5px 0;
	}

	.hero h1 {
		font-size: 24px;
		text-shadow: #E6BF00 1px 1px, #E6BF00 2px 2px;
	}
	.hero h2 {
		font-size: 20px;
	}

	.hero h3, .hero h4 {
		display: inline;
		font-size: 20px;
	}

	.hero h3:after {
		content: ":";
	}

	.stats {
		margin-bottom: 10px;
		font-size: 1.25em;

	}

	.stats span {
		display: inline;
		font: 1em LouisBold, "Helvetica Neue", Helvetica, sans-serif;
		text-transform: uppercase;

	}

	.navbuttons p {
		margin: 0;
	}

	.navbuttons .btn.btn-large {
		width: 90%;
		display: block;
		margin-bottom: 10px;
		padding: 10px 0px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}
