<div id="donate" style="display:none" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Donate to a Rider</h3>
    </div>
    <div class="modal-body">
        <p>Although we ride together as a team, donations are made to individual team members. To make a donation, click on one of the names below.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rider</th>
                    <th>Amount Raised</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <h5>Thank you for your support!</h5>
    </div>
</div>
