<div class="span4 logo">
	<img src="img/lhi-logo-300x370.png" alt="Lunchgroup Heavy Industries"/>
	<h1>Lunchgroup Heavy Industries - Ride to Conquer Cancer</h1>
</div>
<div class="span8 hero">
	<h1 class="centered">Conquering Cancer</h1>
	<h2 class="centered">One Kilometre at a Time</h2>

	<div class="row-fluid">
		<div class="span12">
			<hr class="soften" />
		</div>
	</div>

	{% include stats.html %}
	{% include donate.html %}
	<div class="row-fluid">
		{% include navbuttons.html %}
	</div>

	<div class="row-fluid">
		<div class="span12">
			<hr class="soften" />
		</div>
	</div>
</div>
