<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }} → Lunchgroup Heavy Industries → 2012 Enbridge Ride to Conquer Cancer</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<script src="/js/jquery.js"></script>

		<!-- HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="stylesheet" type="text/css" href="/css/fonts.css" media="all">
        <link href="http://get.pictos.cc/fonts/835/1" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" media="all">
        <link rel="stylesheet" type="text/css" href="/css/site.css" media="all">
        <link rel="stylesheet" type="text/css" href="/css/riderpages.css" media="all">
        
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-29289926-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
	</head>

    <body>
        <a id="top"></a>
		<header class=" header">
			<div class="row-fluid">
				<div class="span3 logo">
					<a href="/"><img src="/img/lhi-logo-300x370.png" alt="Lunchgroup Heavy Industries"/></a>
					<h1>Lunchgroup Heavy Industries - Ride to Conquer Cancer</h1>
				</div>
				<div class="span9 hero">
					<h1 class="centered">Conquering Cancer</h1>
					<h2 class="centered">One Kilometer at a Time</h2>

					<div class="row-fluid">
						<div class="span12">
							<hr class="soften" />

						</div>
					</div>
				</div>
			</div> <!-- /row -->
		</header>  <!-- /header -->
        
        <div class="container-fluid">
            <section class="rider">
                <div class="row-fluid">
                    <div class="span8">
                        <h1>{{ page.firstname }} {{ page.lastname }}</h1>
                        <h4>Raised: <span id="raised">---</span> &bull; Goal: <span id="goal">---</span></h4>
                        {{ content }}
                    </div>  
                    <div class="span4">
                        <img src="{{page.riderimage}}" alt="" class="biopic">
                        <div class="riderbuttons">
                            <a href="{{ page.riderpage }}" class="btn btn-large btn-donate"><i class="ico bills"></i>Donate to {{ page.firstname }}</a>
                            {% if page.twitter %}
                                <a href="{{ page.twitter }}" target=_blank class="btn btn-large"><i class="ico bird"></i>Follow on Twitter</a>
                            {% endif %}
                            {% if page.blogs %}
                            {% for blog in page.blogs %}
                                <a href="{{ blog['url'] }}" target=_blank class="btn btn-large"><i class="ico {{ blog['type'] }}"></i>{{ blog.['title'] }}</a>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                                  
                </div>
            </section>
        </div>
        
        <footer>
            <a href="https://secure2.convio.net/cfrca/site/PageServer?pagename=va12_homepage"><img style="display:block;margin:auto" src="/img/rcc-logo-185.png" alt="Lunchgroup Heavy Industries Logo"/></a>
        </footer>
        
        

        <script>
            
        var url = encodeURIComponent('{{ page.riderpage }}');
        var yql = "http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20html%20where%20url%3D%22" + url + "%22%20and%20xpath%3D%22%2F%2Fp%5B%40class%3D'Smaller'%5D%22&format=json&diagnostics=true&callback=?";
        $.ajax({type:'GET', url: yql, dataType:'jsonp', success: function(data, textStatus) {
            data = data.query.results.p.content.split('\n');
            $('#raised').text(data[1].replace(/[A-Za-z:\s\,]/g, ''));
            $('#goal').text(data[0].replace(/[A-Za-z:\s\,]/g, ''));
        }});
        </script>
    </body>
</html>
