<!DOCTYPE html>
<html lang="en">
	
    <head>
        {% include head.html %}
        
        <link rel="stylesheet" type="text/css" href="/css/riderpages.css" media="all">
    </head>
        

    <body>
        <a id="top"></a>
		<header class=" header">
			<div class="row-fluid">
				{% include logoblock_3_9.html %}
			</div> <!-- /row -->
		</header>  <!-- /header -->
        
        <div class="container-fluid">
            <section class="rider">
                <div class="row-fluid">
                    <div class="span8">
                        <h1>{{ page.firstname }} {{ page.lastname }}</h1>
                        <h4>Raised: <span id="raised">---</span> &bull; Goal: <span id="goal">---</span></h4>
                        {{ content }}
                    </div>  
                    <div class="span4">
                        <img src="{{page.riderimage}}" alt="" class="biopic">
                        <div class="riderbuttons">
                            <a href="{{ page.riderpage }}" class="btn btn-large btn-donate"><i class="ico bills"></i>Donate to {{ page.firstname }}</a>
                            {% if page.twitter %}
                                <a href="{{ page.twitter }}" target=_blank class="btn btn-large"><i class="ico bird"></i>Follow on Twitter</a>
                            {% endif %}
                            {% if page.blogs %}
                            {% for blog in page.blogs %}
                                <a href="{{ blog['url'] }}" target=_blank class="btn btn-large"><i class="ico {{ blog['type'] }}"></i>{{ blog.['title'] }}</a>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                                  
                </div>
            </section>
        </div>
        
        <footer>
            <a href="https://secure2.convio.net/cfrca/site/PageServer?pagename=va12_homepage"><img style="display:block;margin:auto" src="/img/rcc-logo-185.png" alt="Lunchgroup Heavy Industries Logo"/></a>
        </footer>
        
        

        <script>
            
        var url = encodeURIComponent('{{ page.riderpage }}');
        var yql = "http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20html%20where%20url%3D%22" + url + "%22%20and%20xpath%3D%22%2F%2Fp%5B%40class%3D'Smaller'%5D%22&format=json&diagnostics=true&callback=?";
        $.ajax({type:'GET', url: yql, dataType:'jsonp', success: function(data, textStatus) {
            data = data.query.results.p.content.split('\n');
            $('#raised').text(data[1].replace(/[A-Za-z:\s\,]/g, ''));
            $('#goal').text(data[0].replace(/[A-Za-z:\s\,]/g, ''));
        }});
        </script>
    </body>
</html>
